.sec_layout{
border: 0px solid black;
display: grid;
grid-template-columns: 22vh 1fr ;
height: 100vh;
margin: 0;
padding: 0;
position: sticky;
top: 0;
left: 0;

}
.page_title h1{
    color: black;
    transform: rotate(90deg);
    font-size: 17vh;
    font-family: 'Bodoni Moda', serif;
    font-weight: 200;
}

.page_title{
    display: flex;
    justify-content: center;
    align-self: center;
}

.rowed{
    display: grid;
    grid-template-columns: 40vh 1fr;
    padding-top: 50px;
    height: 60vh;
    grid-gap: 50px;
    margin-left: 5vh;
}

.rowed img{
    width: 40vh;
    max-width: 365px;
    align-self: flex-end;
    position: sticky;
    top: 0;
   left: 0;   
}
.contact_info{
    width: 300px;
    display: flex;
    flex-direction: column;

}
.contact_bio p{
    width: 70vh;
    max-width: 600px;
    font-size: 3vh;
    font-family: 'Bodoni Moda', serif;
    font-weight: 100;
   
}

.contact_bio{
display: flex;
align-items: flex-end;
width: 100%;

}
.contact_bio a {
    color: black;
    text-decoration: underline;
}
.socials{
    width: 70vh;
    grid-column: 2/3;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:30px;
}
.socials  a {
 color: black;
 font-size: 20px;
 font-weight: 600;
 letter-spacing: 2px;
 display: inline-block;
 line-height: 1.5; 
 border-bottom: 1px solid rgb(31, 31, 31);
}
.socials p{
    font-family: 'Bodoni Moda', serif;
    margin-top: 20px;
    color: rgb(41, 41, 41);
}

@media (max-width: 900px) { 
    .page_title{
        display: flex;
        flex-direction: row; 
    }

    .page_title h1{
        transform: rotate(0deg);
        margin: 0;
        padding: 0;
        font-size: 14vh;
    }

    .sec_layout{
        display: flex;
        flex-direction: column;
    }
    .rowed{   
        width: 100vw;
       padding-top: 0;
       display: grid;
       justify-content: center;
       overflow: scroll;
    }

    .contact_bio p{
        width: 300px;
        max-width: 600px;
        font-size: 3vh;
        font-family: 'Bodoni Moda', serif;
        font-weight: 100;
       
    }
    .socials{
        display: flex;
        flex-direction: column;
        width: 100%;
    
      
        
    }
    .socials div{
    width: 90%;

    }
   
    
     }