.cover{
    width: 100%;
    flex: 1;
  

}
.sec_title{
    overflow :hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 
}
.sec_title p {
    font-family: 'Bodoni Moda', serif;
    flex: 1;
    font-size: 16vw;
    letter-spacing: -.014em;
    margin-top: 10px;
    line-height: .9;
    text-align: justify;
    width: 100%; 
    animation: Roll 5s infinite alternate; 
}
#sec1_line2{
    margin-left: 1vw;
    
}
#sec1_line1{
    margin-left: -4vw;
    overflow: hidden;
    position: static;
    z-index: -10; 
   
}
 .sec2{
     color:rgb(32, 32, 32);
     margin-top: 2vw;
    line-height: 2;
    font-weight: 600;
    font-size: 1.6vw;
    letter-spacing: _.014em;
    margin-left: 2vw;
    font-family: 'Cormorant', serif;
    
 }

 .sec_title img{
     position: fixed;
     z-index: -10;
     top: 65%;
     right: 2%;
     width: 40%;
 }
 
 .example-enter {
    opacity: 0.2;
    transition: opacity 300ms ease-in;
    background:  #f9e79f;
  }
   
  .example-enter .example-enter-active {
    opacity: 1;
    background:  #eafaf1 ;
  }


@keyframes Roll {
    from { transform: translateX(30px);}
    to {  transform: translateX(-10px)}
    
 }
 @keyframes Roll {
    from { transform: translateX(-10px);}
    to {  transform: translateX(30px);}
    
 }
