
.sec_layout{
  width: 100%;
}
.projects_content{
   width: 100%;
   display: grid;
   grid-template-columns: 420px 420px 420px;
   grid-auto-columns: 200px;
   overflow: scroll;
   grid-column-gap: 3px;
  
}
.projects_content img{
   width: 100%;
   margin: auto;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
 
}
.box1{
border-left: 3px solid black;
border-right: 3px solid black;
animation: slide 500ms;
position: sticky;
}

.box2{
   border-right: 3px solid black;
   animation: slide 500ms linear 100ms;
   
}

.box3{
   border-right: 3px solid black;
   animation: slide 500ms linear 200ms;
   
}
.faded h1{
font-size: 5vh;
}
.faded p {
   justify-self: flex-start;
}


.box_flex {
   min-width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}


.faded{
   width: 85%;
   height: 70%;
   display: flex;
  flex-direction: column;

animation: apear 1s 1s;
opacity: 0;
animation-fill-mode: forwards 

}

.faded::after{
   opacity: 1;

  
}


@keyframes slide {
   from { transform:translateY(-100vh) }
   to { transform:translateY(0vh)  }
   
}

@keyframes apear{
   from {   opacity: 0; }
   to { opacity: 1; }
    
   
}